<%# navbar %>
<%# banner? explaining the webapp %>
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random')">
    <%= link_to list.name, list_path(list) %>
  </div>
<% end %>

<%= link_to 'New List!', new_list_path %>
